                                /* NAVBAR2 RESPONSIVE */
                                  /* BIG SCREEN */

@media (max-width:1348px){
  .form-internent-bank{
    display: none;
  }
}

@media (max-width:1187px){
  .country-dropdown{
    display: none;
  }
}

@media (max-width:1053px){
  .navigation1 .free-money{
    display: none;
  }
}

@media (min-width: 989px){
  .navigation2 .navbar-collapse {
  overflow-y: hidden;
}

}

                            /* TAB */

@media (max-width: 991px) {
  .navigation2 .navbar-collapse {
    background-color: white;
    padding: 1rem;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1010;
  }
  .navigation2 {
  position: fixed;
  top: 0; /* directly below navigation1 */
  left: 0;
  right: 0;
  z-index: 1020;
  background-color: blue;
  overflow:visible;
}
          

.navigation2 .navbar-toggler{
  position: fixed;
  top: 75px;
  right: 0;
} 

.navigation2 .navbar-collapse {
  overflow-y: scroll;
  height: 500px;
  transition: 0.3s ease-out;
  padding-bottom: 150px;
}

.form-internent-bank{
  display: flex;
  flex-direction: column;
}
}

                /* PHONE */
@media (max-width:500px){
  .navigation2 a {
  color: black;
  font-weight: 400;
  font-size: 1rem;
  height: 50px;
  padding: 14px;
}
}

                        /* SECTION1 */
                    /* BIG SCREEN */
@media (max-width:1382px){
  .section1-normal h3{
   font-family: "Raleway", sans-serif;
   font-weight: 300;
   font-size: 1.8rem;
   word-spacing: 0.5rem;
   margin-top: 10px;
  }

  .section1-normal .overlay-text {
  position: absolute;
  top: 150px;
  left: 50px;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
}
}

@media (max-width:1279px){
  .section1-normal .overlay-text {
  position: absolute;
  top: 150px;
  left: 40px;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.section1-normal h3{
   font-family: "Raleway", sans-serif;
   font-weight: 300;
   font-size: 10px;
   word-spacing: 0;
   margin-top: 10px;
   color: rgb(237, 230, 217);
   overflow-wrap:break-word;
  }

  .section1-normal .overlay-text p{
  color: white;
  font-size: 16px;
}
}

                /* TAB */
@media (max-width:980px){
  .section1-tab{
  max-width: 100%;
  margin: auto;
  padding: o;
  box-sizing: border-box;
  overflow: hidden;
}

.section1-tab img{
  height: 60vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: red;
}

.section1-tab #image{
  height: 70vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1200px;
}


.overlay-container{
  display: flex;
  flex-direction: row;
}

.section1-tab{
  display: block;
}

.section1-normal{
  display: none;
}

.section1-tab .text{
  width: 100%;
  margin: auto;
  padding-top: 50px;
}

.section1-tab .text h3{
  width: 100%;
  text-align: center;
  font-weight: bolder;
  color: black;
  font-size:x-large;
}

.section1-tab .text h2{
  color: black;
  font-weight: 800;
  text-align: center;
}

.section1-tab .text .paragraph{
  background-color:white;
  width: 50%;
  overflow-wrap: break-word;
  margin: auto;
  padding: 20px;
  text-align: center;
  line-height: 2rem;
}

.section1-tab .text .paragraph p{
  color: black;
  font-weight: 750;
}

.section1-tab .text a{
  border-radius: 0;
  padding: 15px;
  border: 2px solid;
}

.section1-tab .access-more{
  width: 30%;
  margin: auto;
}
}

@media (max-width:500px){
   .section1-tab .text .paragraph{
  background-color:white;
  width: 80%;
  overflow-wrap: break-word;
  margin: auto;
  padding: 20px;
  text-align: center;
  line-height: 2rem;
}
}


                        /* PHONE */
@media (max-width:500px){
  .section1-tab img{
  height: auto;
  max-width: 100%;
  overflow-x: hidden;
}

}
