body {
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--bs-body-font-family);
  border-radius: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 1s;
}

/* SECTION1 */
.section1 {
  width: 100%;
  max-width: 2560px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.section1parent {
  width: 98%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
  border-bottom: none;
}

.section1 .section1parent .overlay-items a {
  background: transparent;
  padding: 50px;
  margin-left: -47px;
}

.section1parent .image1 {
  height: 77vh;
  overflow-x: hidden;
  border: none;
  width: 100%;
}

.overlay-items {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 660px;
}

.section1 .overlay-items h1 {
  margin-top: 30px;
  color: #212529b9;
  font-weight: 600;
}

.section1 .overlay-items p {
  margin-top: 30px;
  color: black;
  font-size: 1.12rem;
  font-weight: 470;
  line-height: 1.9rem;
}

/* SECTION2 */
.section2 .overlay-card {
  background-color: #014086;
  height: 220px;
  color: white;
  padding: 3.5rem;
  margin-top: -11rem;
  position: absolute;
  width: 660px;
  margin-left: 8em;
  z-index: 50;
}

.section2 .overlay-card .image-svg {
  margin-left: 380px;
  margin-top: -3rem;
}

.section2 .overlay-card h2 {
  font-size: 1.5rem;
}

.section2 .overlay-card p {
  color: white;
  font-size: 1.1rem;
}

.section2-tab {
  display: none;
}

/* SECTION3 */
.section3 {
  width: 100%;
  max-width: 2560px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
  margin-top: 120px;
}

.section3parent {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0px;
  gap: 20px;
}

.section3 .card {
  background-color: white;
  width: 400px;
  height: 200px;
  border-radius: 0;
  position: relative;
  z-index: 10;
  transition: 0.3s ease-in;
}

.section3 .card:nth-child(1) a {
  text-decoration: none;
  background-color: white;
}

.section3 .card:nth-child(1) a:hover {
  border: none;
}

.section3 .card:hover {
  box-shadow: 0 3px 30px #1b27d133;
  cursor: pointer;
  transform: scale(1.06);
  border-bottom: 5px solid orange !important;
  border-top: 1px solid orange;
  border-right: 1px solid orange;
  border-left: 1px solid orange;
}

.section3 .image {
  width: 5rem;
  position: absolute;
  top: 5.5rem;
  right: 1.5rem;
  filter: brightness(1.2) contrast(0.8) opacity(0.7);
}

.section3 h3 {
  color: #333333d0;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem 0rem 0rem;
}

.section3 .p1 {
  color: #666666da;
  font-weight: 500;
  font-size: 0.89rem;
  text-align: center;
}

.section3 .p2 {
  color: #666666dc;
  font-weight: 500;
  font-size: 1rem;
  width: 17.7rem;
  padding: 0.5rem 18px 10px;
}

.section3 .p3 {
  text-align: center;
  color: #666666dc;
  font-weight: 500;
  font-size: 1rem;
}

.section3 .back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 a {
  background-color: rgb(255, 130, 0);
  text-align: center;
  border-radius: 0;
  padding: 15px;
  /* margin-left: 40rem; */
  margin-top: -30px;
  transition: 0.7s;
  color: white;
}

.section3 a:hover {
  border: 2px solid rgb(255, 130, 0);
  background-color: #f1f1f1;
  color: black;
}
