body{
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bs-body-font-family);
    border-radius: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

                                /* SECTION1 */
.section1{
    width: 100%;
    max-width: 2560px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}  

.section1parent{
    width: 98%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    border-bottom: none;
}

.section1 .section1parent .overlay-items a{
    background:transparent;
    padding: 50px;
    margin-left: -47px;
}

.section1parent .image1{
    height: 77vh;
    overflow-x: hidden;
    border: none;
    width: 100%;
}

.overlay-items{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 660px;
}

.section1 .overlay-items h1{
    margin-top: 30px;
    color: #212529b9;
    font-weight: 600;
}

.section1 .overlay-items p{
    margin-top: 30px;
    color: black;
    font-size: 1.12rem;
    font-weight: 470;
    line-height: 1.9rem;
}

                            /* SECTION2 */

.section2 .overlay-card{
    background-color: #014086;
    height: 220px;
    color: white;
    padding: 3.5rem;
    margin-top: -11rem;
    position: absolute;
    width: 660px;
    margin-left: 8em;
    z-index: 50;
}

.section2 .overlay-card .image-svg{
    margin-left: 380px;
    margin-top: -3rem;
}

.section2 .overlay-card h2{
    font-size: 1.5rem;
}

.section2 .overlay-card p{
    color: white;
    font-size: 1.1rem;
}

.section2-tab{
    display: none;
}


                        /* SECTION3 */
.section3{
    width: 100%;
    max-width: 2560px;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: #f1f1f1;
    margin-top: 46px;
}

.section3parent{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 0px;
    gap: 20px;
}

.section3 .card{
    background-color: #fff;
    width: 400px;
    height: 200px;
    border-radius: 0;
    position: relative;
    z-index: 10;
    transition: .3s ease-in;
}

.section3 .card:hover{
    box-shadow: 0 3px 30px #1b27d133;
    cursor: pointer;
    transform: scale(1.06);
    border-bottom: 5px solid orange !important;
    border-top: 1px solid orange;
    border-right: 1px solid orange;
    border-left: 1px solid orange;
}